@font-face {
  font-family: "velo";
  src:url("./velo-font.ttf");
}
             @media (min-width:1280px) {
                  .container{
                    display: flex;
                    width: 1280px;
                    }
                    p{      
                      font-family: "Velo";
                    font-weight: 400;
                    font-style: normal;
                    font-size: 1.875rem;
                    transition: .95s;
                    line-height: 3.2rem;

                    }
                    a span{
                      font-size: 1.45rem;
                    }
                    a i {
                      font-size: 1.45rem;
                    }
                    h2{
                    padding: .25rem;
                    color: var(--orange);  
                    font-weight: 800; 
                    font-size: 2.344rem;
                    transition: .95s;
                    }
                    .p1{
                    width: 50rem;
                    margin: 3.25rem;
                    padding: 3.25rem;
                    line-height: .55rem;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: rgba(10,10,10,.09);
                    position: absolute;
                    z-index: 1000;
                    }
                    .canciones{
                      background-color: rgba(10,10,10,.88);
                    }
                    a{
                    cursor: pointer;
                    text-decoration: none;
                    color:var(--white);
                    transition: .95s;
                    }
                    a:active{
                      cursor: pointer;
                      text-decoration: none;
                      color:var(--white);
                      transition: .95s;
                      }
                    a:hover{
                    cursor: pointer;
                    text-decoration: none;
                    color:var(--white);
                    transition: .95s;
                    }
                    a:after{
                      cursor: pointer;
                      color:var(--white);
                      transition: .95s;
                    }
                    i{
                     color:var(--orange); 
                     padding: .16rem;
                     margin:.16rem;    
                    }
                    .prosa{
                        font-style: italic;
                        width:60rem;
                        margin: 3.25rem;
                        padding: 3.25rem;
                        top:48rem;
                        left:40rem;
                        position: absolute;
                        z-index: 1001;
                        transition: .95s;
                    }

                    ul li{
                    font-size: 1.5rem;
                    line-height: 2.75rem;
                    justify-content: center;
                    }

                    /* BOTON DE STOP */
                    
                    .stop-boton{
                    cursor: pointer;
                    text-decoration: none;
                    color:var(--orange); 
                    background: transparent;
                    transition: .95s;
                    border: none;
                    }
                    .stop-boton:hover{
                        cursor: pointer;
                        text-decoration: none;
                        color:var(--white);
                        background: transparent;
                        transition: .95s;
                        border: none;
                        }
                        .stop-boton:active{
                          cursor: pointer;
                          text-decoration: none;
                          color:var(--orange); 
                          background: transparent;
                          transition: .95s;
                          border: none;
                          }
                          .stop-boton:after{
                            cursor: pointer;
                            text-decoration: none;
                            color:var(--orange); 
                            background: transparent;
                            transition: .95s;
                            border: none;
                            }
                          .swiper-slide img {
                            display: block;
                            width: 80%;
                            margin: 0 auto;
                            padding: 0 auto;
                            object-fit: cover;
                            transition: .95s;
                          }
                        }
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                 
            
            
            
            
            
            
            
            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    













































































































































































































































































































































































































































































































































































































































































































































































