@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@font-face {
  font-family: "Velo";
  src:url("velo-font.ttf");
}

.velo{
  font-family: "Velo";
}

:root{
    --swiper-theme-color:rgba(0, 0, 0, 0.532);
    --white:rgba(200,200,200,.99);
    --prosa:rgba(255,255,255,.90);
    --prosa-lg:rgba(255,255,255,.90);
    --fantasma:rgba(255,255,255,.40);
    --black: rgba(20,20,20,.91);
    --orange: rgba(255, 149, 0, 0.712);
    }
*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}
  
html,body {
  background: var(--black);
  color:var(--white);
  font-size: 62.5%;
  background-image: url(./ruide.png);
}


  .container{
    display: flex;
    width: 100vh;
    background: var(--black);
    }
    p{      
      font-family: "Velo";
    font-weight: 400;
    font-style: normal;
      font-size: 1.2rem;
      transition: .95s;
      line-height: 3rem;
      }

    .p1{
      display: flex;
      flex-wrap: wrap;
      line-height: .55rem;
      width: 33rem;
      margin: 2.5rem;
      padding: 2.5rem;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(10,10,10,.09);
      position: absolute;
      z-index: 1000;
      } 
      .canciones{
        background-color: rgba(10,10,10,.88);
      }

    h2{
    padding: .333rem;
    color: var(--orange);  
    font-weight: 800; 
    font-size: 1.942rem;
    }
    
    a{
    cursor: pointer;
    color:var(--white);
    text-decoration: none;
    transition: .5s;
    }
    a:active{
      cursor: pointer;
      text-decoration: none;
      color:var(--white);
      transition: .5s;
      }
    a:hover{
    cursor: pointer;
    text-decoration: none;
    color:var(--white);
    transition: .5s;
    }
    a:after{
      cursor: pointer;
      color:var(--white);
      transition: .5s;
    }
    i{
     color:var(--orange); 
    }
    ul li{
      font-size: 1.2rem;
      text-decoration: none;
      list-style: none;
      line-height: 2.2rem;
      margin: .015rem;
      padding:.015rem;
      }
      
    
    .prosa{
      display: inline-block;
        font-style: italic;
        width: 66%;
        top:40rem;
        margin: 1.2rem;
        padding: 1.2rem;
        left: 2rem;
        border: .25rem solid rgba(0,0,0,.10);
        position: absolute;
        color: var(--white);
        background: var(--black);
        z-index: 1001;
    }
    
    .creditos{
    font-family: "Velo";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    width: 70%;
    color:var(--white);
    }
    
    /* BOTON DE STOP */
    
    .stop-boton{
    cursor: pointer;
    text-decoration: none;
    color:var(--orange); 
    background: transparent;
    transition: .95s;
    border: none;
    }
    .stop-boton:hover{
        cursor: pointer;
        text-decoration: none;
        color:var(--white);
        background: transparent;
        transition: .9  5s;
        border: none;
        }
        .stop-boton:active{
          cursor: pointer;
          text-decoration: none;
          color:var(--orange); 
          background: transparent;
          transition: .9  5s;
          border: none;
          }
          .stop-boton:after{
            cursor: pointer;
            text-decoration: none;
            color:var(--orange); 
            background: transparent;
            transition: .9  5s;
            border: none;
            }
      
    
       /* swiper! */
          .swiper {
            width: 100vw;
            height: 100vh;
          }
    
          .swiper-slide { 
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          
          }
          .swiper-slide img {
            display: block;
            width: 100%;
            object-fit: cover;
          }
                            
          .boton-back{
          display: inline-block;
          font-family: "Velo";
          font-size: 1.442rem;
          width: 20rem;
          height: 5rem;
          margin:1.25rem;
          padding:1.25rem;
          border-radius: 1rem;
          border-color: rgba(224, 157, 56, 0.111);
          position: relative;
          color:var(--white);
          background-color: rgba(5,0,5,1);
          align-items: center;
          justify-content: center;
          transition: .85s;
        }        
        .boton-back:hover{
          display: inline-block;
          font-family: "Velo";
          font-size: 1.442rem;
          width: 20rem;
          height: 5rem;
          margin:1.25rem;
          padding:1.25rem;
          border-radius: 1rem;
          border-color: rgba(224, 157, 56, 0.111);
          position: relative;
          color:var(--white);
          background-color: rgba(10,0,10,1);
          align-items: center;
          justify-content: center;
          transition: .85s;
        }        
                 
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                 
            
            
            
            
            
            
            
            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    













































































































































































































































































































































































































































































































































































































































































































































































